asgiref==3.9.1
boto3==1.40.19
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.7.0
django-filter==25.1
django-phonenumber-field==8.1.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
fcm-django==2.3.1
firebase-admin==7.1.0
gunicorn==23.0.0
numpy==1.26.4
phonenumbers==9.0.12
Pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
reportlab==4.4.4
requests==2.32.5
scipy==1.16.1
trimesh==4.7.4
celery
redis
networkx
drf_spectacular
ujson==5.9.0
django-redis==5.4.0